<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perifericos</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <%- include('../partials/header')%>


    <div class="container">
        <h1>Perifericos</h1>
        <a href="/perifericos/create">Añadir Periferico</a>

        <div>
            <% perifericos.forEach(periferico => {%>
                <div>
                    <img src="/images/<%=periferico.imagen%>" alt="<%=periferico.nombre%>">
                </div>    
                <h2><%=periferico.nombre%></h2>
                <p><%=periferico.descripcion%></p>
                <p>$<%=periferico.precio%></p>
                <p><strong>Categoria: </strong></p>

                <div>
                    <a href="/perifericos/<%=periferico.id%>/edit">Editar Periferico</a>

                    <form action="/perifericos/<%=periferico.id%>?_method=DELETE" method="POST">

                        <button type="submit">Eliminar Periferico</button>
                        
                    </form>
                </div>

            <% }) %>
        </div>

        <a href="/">Voler a la pagina principal</a>

    </div>


    <%- include('../partials/footer') %>
</body>
</html>